{% extends 'base.html.twig' %}

{% block title %}Votre chocoblast{% endblock %}

{% block body %}
    <div>
        <h2>{{ chocoblast.title }}</h2>
        <p>Auteur : {{ chocoblast.author }}</p>
        <p>Cible  : {{ chocoblast.target }}</p>
        <img src="/uploads/images/{{ chocoblast.target.image }}" alt="" width="50px">
        <p>Date : {{ chocoblast.createAt | date('Y-m-d') }}</p>
    </div>
{% endblock %}